﻿
@model AuthenticationSystem.Core.ViewModels.LoginModel

<h2>Вхід на сайт</h2>

<a asp-action="Register" asp-controller="Account">Реєстрація</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Введіть Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введіть пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Війти" class="btn" />
        </div>
    </div>
</form>

